.main{
    background-color: rgba(178, 75, 75, 0.594);
    height: 75px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
}
.block{
    display: flex;
    text-decoration: none;
    list-style: none;
    padding-right: 200px;
    font-size: larger;
    color: rgb(228, 10, 10);
}
 .li{
    text-decoration: none;
    list-style: none;
    font-size: 10px;
 }
 img{
    height: 40px;
    width: 100px;
 }