.main{
    background-color: rgba(115, 228, 115, 0.785);
    height: 75px;
    display: flex;
    justify-content: space-between;
}
.block{
    display: flex;
    text-decoration: none;
    list-style: none;
    padding-right: 200px;
    font-size: larger;
}
.li{
    text-decoration: none;
    list-style: none;
    font-size: 10px;
}
